* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.res {
    width: 100%;
    display: flex;
    border: 2px solid #1345e6;
    border-right: 15px solid #ed239f;
    transition: .4s;
    padding-top: 5px;
    padding-left: 10px;
}


.of {
    height: 29px;
    overflow: hidden;
    margin: 5px;
    display: flex;
    width: 94%;
    margin-top: 15px;
    border: 2px;
    border-right: 15px ;
    box-sizing: border-box;
}

.bb {
    position: absolute;
    right: 6px;
    height: 26px;
    margin-top: 3px;
    width: 60px;
    cursor: pointer;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 100%, #1345e6 0%);
    border: none;
    color: #ffffff;
    border-radius: 2px;
    margin: -5px;
}

button:active {
    background: linear-gradient(to right, #7700ff, #fa1ae0, #ff007b);
}

.res.active  {
    width: 50%;
}

@media screen and (max-width:1193px) {
    .of {
        width: 90%;
    }
}
@media screen and (max-width:650px) {
    .of {
        width: 85%;
    }
}
@media screen and (max-width:500px) {
    .of {
        width: 80%;
    }
}

